
<div class="row justify-content-md-center align-items-center" id="cuerpo">
<br>
<h1 class="mb-3 text-center mb-4">Tabla Top 7</h1>
<div id="tablaTop7">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Crypto Coin</th>
            <th scope="col">Price</th>
            <th scope="col">Market Cap</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let crypto of cryptos.slice(0, 6);">  
              <td>{{crypto.name}}</td>
              <td>{{crypto.current_price}}</td>
              <td>{{crypto.market_cap}}</td>
            </tr>
        </tbody>
      </table>
</div>
</div>