@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

body {
    margin: 0;
}

#Nombre {
    color: #72c9f7;
}

* {
    font-family: "Asap", sans-serif;
}

#ProfilePic {
    width: 10%;
    height: auto;
    border-radius: 15%;
}

nav {
    position: sticky;
    top: 0%;
}

header {
    display: flex;
    justify-content: center;
    padding: 02%;
}

th,
td {
    width: auto;
    height: auto;
}

header * {
    padding: 0% 1%;
}


body #Cuerpo-Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0% 25%;
}

.Listas-Info * {
    margin: 1rem;
}

a {
    text-decoration: none;
    color: white;
    cursor: default;
}

.Link-Interno:hover {
    cursor: pointer;
}

#AccesosRapidos {
    text-align: center;
    background-color: #72c9f7;
    margin: 0%;
    padding: 1%;
}


#AccesosRapidos .Secciones {
    display: inline;
    justify-content: space-evenly;
    margin-right: 5%;
    padding: 1%;
}


#Parrafo-Perfil {
    text-justify: auto;
}

#Correo {
    list-style-image: image("Media\envelope.svg");
}

.Secciones:hover {
    cursor:pointer;
    text-shadow: 5px 5px 2px gray;
    color: gray;
}

#formulario {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.Titulo-Form {
    width: 100%;
}

.Text-Form {
    width: 100%;
}

button {
    margin: 0% 40%;
}

#submit {
    align-self: center;
}

#Redes-Sociales {
    position: sticky;
    bottom: 0.5%;
    left: 1%;
    margin-left: 1rem;
}

#Iconos-Redes * {
    padding: 0rem 0.1rem;
}

.icon {
    width: 2rem;
}

h5 {
    margin: 0.5rem 0rem;
    font-size: medium;
}


@media only screen and (max-width: 900px) {

    body #Cuerpo-Info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3%;

    }

    header {
        display: flex;
        flex-direction: column;
        justify-self: center;
        padding: 02%;
    }

    
    header * {
        align-self: center;
    }

    #ProfilePic {
        width: 30%;
        height: auto;
        border-radius: 15%;
    }


    #AccesosRapidos {
        display: flex;
        flex-wrap: wrap;
        padding: 1%;
    }



/*     #AccesosRapidos li {
        width: 25%;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .Secciones {
        width: 25%;
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    
   #AccesosRapidos li:last-of-type {
        width: 90%;
    }

    iframe {
        width: 100%;
        height: 50%;
    }

    a {
        margin: 2% 0%;
    }

    body {
        font-size: smaller;
    }

    #Redes-Sociales {
        width: 90%;
        position: relative;
        margin-left: 0;
    }


}