<div id="cuerpo" class="container ">
    <div class="row">
      <div class="col-sm">
        <div class="card">
            <div class="card-body">
              <h1 class="card-title">Crypto #1</h1>
              <app-tarjeta></app-tarjeta>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card">
            <div class="card-body">
              <h1 class="card-title">Crypto #2</h1>
              <app-tarjeta></app-tarjeta>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card">
            <div class="card-body">
              <h1 class="card-title">Crypto #3</h1>
              <app-tarjeta></app-tarjeta>
            </div>
          </div>
      </div>
    </div>
  </div>


