<br>
<br><br><br><br>
<br><br><br>  
<div class="container align-items-center" id="espacio">
  <div class="row">
    <div class="col-10"><h1>¿Por que son importantes las cryptos?</h1></div>
  </div>
  <div class="row" id="espacio2 align-items-center">
    <div class="col-7"> Las criptomonedas son tokens digitales o virtuales que usan criptografía por seguridad. Están descentralizados, lo que significa que no están sujetos al control del gobierno o de las instituciones financieras. Las criptomonedas permiten operaciones transfronterizas rápidas, así como la adquisición y transferencia de activos. Por ejemplo, si quisieras comprar una casa en otro país, podrías usar criptomonedas para hacerlo de forma rápida y sencilla. Las criptomonedas también facilitan la transferencia de activos entre personas sin tener que pasar por un banco u otra institución financiera. Esto puede ser útil en situaciones en las que necesita enviar dinero a alguien rápidamente o donde los métodos bancarios tradicionales no están disponibles.</div>
    <div class="col-3"><img src="https://img.freepik.com/vector-gratis/conjunto-logotipos-criptomonedas-populares_69286-369.jpg?w=826&t=st=1672783715~exp=1672784315~hmac=54794fbe075c5ba73c7be7d9efe4ec0afb76d6d76d86aaa75a3fa4f4f7c61c92" class="img-fluid" alt="imagen" ></div>
  </div>
</div>